include src/cyllama/*.pxd
include src/cyllama/*.pyx
include src/cyllama/*.cpp
include src/cyllama/*.h
include thirdparty/llama.cpp/include/*.h
include thirdparty/llama.cpp/lib/*.a
include src/cyllama/py.typed
