global-include *.pxd
global-include *.pyx
global-include *.pxi
include scripts/setup.sh
include scripts/copy_libs.py
include requirements.txt
include Makefile
recursive-include thirdparty/llama.cpp *
