name: Python CI

# on:
#   push:
#     tags:
#       - '*'
#   workflow_dispatch:

on:
  push:
    branches:
      - '*'
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.11" ]
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: black
        uses: psf/black@stable
        with:
          src: "src/xllamacpp"
          options: "--check --verbose"
          use_pyproject: true
      - name: clang-format
        uses: jidicula/clang-format-action@v4.15.0
        with:
            clang-format-version: '16'
            check-path: 'src/xllamacpp'

  build_test_job:
    runs-on: ${{ matrix.os }}
    needs: lint
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "macos-14", "windows-latest" ]
        python-version: [ "3.11" ]

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up conda ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}

      # Fix "version `GLIBCXX_3.4.30' not found (required by xoscar_store.cpython-311-x86_64-linux-gnu.so)" issue
      - name: Install libstdcxx-ng
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
            conda install -c conda-forge libstdcxx-ng

      - name: Install dependencies
        env:
          OS: ${{ matrix.os }}
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-timeout requests gguf orjson
          make
          make download
        working-directory: .

      - name: Test with pytest
        run: |
            pytest -s -v -k "not test_llama_server_rerank" --timeout=1500 -W ignore::PendingDeprecationWarning tests
            pytest -s -v -k "test_llama_server_rerank" --timeout=1500 -W ignore::PendingDeprecationWarning tests
        working-directory: .
